.featuers-products{
      width: 95%;
      margin: auto;
      margin-top: 5px;
      display: flex;
      color: #6F6F6F;
      justify-content: center;
}

.featuers-products>div{
      width: 14.28%;
      border-radius: 10px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.featuers-products>div>div{
      width: 60%;
      text-align: center;
}

.featuers-products>div:hover{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.featuers-products>div>div>img{
      margin-top: 20px;
      width: 100%;
}

.featuers-products>div>p{
      margin-top: 10px;
      font-size: 14px;
}